<aside>
    <div class="profile-img-wrapper">
        <img src="{{ asset('build/images/utils/portfolio_profile.89029bef.png') }}" alt="profile">
    </div>
    <h1 class="profile-name">Lhermenier Julien</h1>
    <div class="text-center">
        <span class="badge badge-white badge-pill profile-designation">Développeur Web <br> Web Mobile </span>
        <span class="badge badge-white badge-pill profile-designation">Back-End</span>
        <span class="badge badge-white badge-pill profile-designation">Symfony</span>
    </div>
    <nav class="social-links">
        <a href="https://www.linkedin.com/in/julien-lhermenier-0910101bb/" target="_blank" class="social-link"><i class="fab fa-linkedin-in" ></i></a>

        <a href="https://twitter.com/JulienKraKEN1" target="_blank" class="social-link"><i class="fab fa-twitter"></i></a>
        
        <a href="https://github.com/aokiiji76" target="_blank" class="social-link"><i class="fab fa-github"></i></a>
    </nav>
    <!-- Information personelle -->
    <div class="widget">
        <h5 class="widget-title">Information personnelle</h5>
        <div class="widget-content">
            <P>Age : 30 ans</P>
            <p>Téléphone :<br> <a href="tel:0660620594">0660620594</a></p>
            <p>Mail : <a href="mailto:lhermenierjulien.dev@gmail.com">julienlhermenier.dev@gmail.com</a></p>
            <p>Localisation : Maromme, France</p>
            
            <button class="btn btn-download-cv btn-primary rounded-pill">
                <img src="{{ asset('build/images/utils/download.09911d0c.svg') }}" alt="download" class="btn-img"><a class="download-text" href="{{ path('download_file') }}">Télécharger le CV</a>
            </button>
        </div>
    </div>
    <!-- Langages -->
    <div class="widget card">
        <div class="card-body">
            <div class="widget-content">
                <h5 class="widget-title card-title">LANGAGES</h5>
                <p>HTML 5 / CSS 3</p>
                <p>PHP 7/8</p>
                <p>SQL</p>
                <p>JAVASCRIPT</p>
            </div>
        </div>
    </div>
    <!-- Certifications -->
    <div class="widget card">
        <div class="card-body">
            <div class="widget-content">
                <h5 class="widget-title card-title">Certifications</h5>
                <p>OPQUAST :<br>Maîtrise de la qualité en projet Web</p>
{#                <img src="{{ asset('build/images/logo/badge-opquast.4d6289fc.svg') }}" alt="opquast-badge">#}
{#                <a href="https://directory.opquast.com/fr/certificat/08IUBZ/" target="_blank">Certification Opquast </a>#}
    
                <a href="https://directory.opquast.com/fr/certificat/08IUBZ/" target="_blank"> <img src="{{ asset('build/images/logo/badge-opquast.4d6289fc.svg') }}" alt="opquast-badge"></a>
                
            </div>
        </div>
    </div>
    <!-- soft skills -->
    <div class="widget card">
        <div class="card-body">
            <div class="widget-content">
                <h5 class="widget-title card-title">Soft Skills</h5>
                <p>Curieux</p>
                <p>Persévérant</p>
                <p>Esprit d'équipes</p>
                <p>Créatif</p>
                <p>Autonome</p>
                <p>Rigoureux</p>
                <p>Sens du service</p>
            </div>
        </div>
    </div>
    <!-- Interets -->
    <div class="widget card">
        <div class="card-body">
            <div class="widget-content">
                <h5 class="widget-title card-title">INTERETS</h5>
                <p>Informatique</p>
                <p>Jeux Videos</p>
                <p>Série télé </p>
                <p>Musiques : <br> Hip Hop<br> Reggae<br> Electronique</p>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {% include '/_partials/_footer.html.twig' %}
</aside>