{% extends '/base.html.twig' %}
{% block title %}{{ parent() }} | Accueil {% endblock %}

{% block body %}

<main>
   
    <section class="intro-section">
        <h2 class="section-title">Développeur web Back-End</h2>
    
        <div class="widget card">
            <div class="card-body">
                <div class="widget-content">
                    <h5 class="widget-title card-title">Objectifs :</h5>
                    <p>Après une carrière dans le commerce qui m'a appris la rigueur, l'organisation et l'autonomie,
                        j'ai décidé de me lancé un nouveau challenge qui réunis mes compétences, et ma passion pour l'univers du web.Après une carrière dans le commerce qui m'a appris la rigueur, l'organisation et l'autonomie,
                        j'ai décidé de me lancé un nouveau challenge qui réunis mes compétences, et ma passion pour l'univers du webAprès une carrière dans le commerce qui m'a appris la rigueur, l'organisation et l'autonomie,
                    </p>
                    
                </div>
            </div>
        </div>
       
        <a href="{{ path('contact') }}" class="btn btn-primary btn-hire-me">Contactez-moi</a>
    </section>
    <section class="competences-section">
        <h2 class="section-title">Compétences</h2>
        <div class="row">
            <div class="media competence-card col-lg-6">
                <div class="competence-icon">
                    <img src="{{ asset('build/images/logo/icons8-environment-24.f44e1a48.png') }}" alt="symfony">
                </div>
                <div class="media-body">
                    <h5 class="competence-title">Developpement</h5>
                    <p>Développer la partie Back-end d'une application web ou web mobile</p>
                    <p>Créer une base de données</p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="media competence-card col-lg-6">
                <div class="competence-icon">
                    <img src="{{ asset('build/images/logo/icons8-monitor-24.34bdbadf.png') }}" alt="bulb">
                </div>
                <div class="media-body">
                    <h5 class="competence-title">Environnement</h5>
                    <p class="competence-description">PHP Storm / VScode</p>
                    <p class="competence-description">Git / Github</p>
                    <p class="competence-description">Windows / Linux </p>
                </div>
            </div>
            <div class="media competence-card col-lg-6">
                <div class="competence-icon">
                    <img src="{{ asset('build/images/logo/icons8-mind-map-24.76ae57ba.png') }}" alt="development">
                </div>
                <div class="media-body">
                    <h5 class="competence-title">Frameworks</h5>
                    <p class="competence-description">Symfony 5 </p>
                    <p class="competence-description">Bootstrap </p>
                </div>
            </div>
            <div class="media competence-card col-lg-6">
                <div class="competence-icon">
                    <img src="{{ asset('build/images/logo/icons8-development-skill-24.471c92b7.png') }}" alt="smartphone">
                </div>
                <div class="media-body">
                    <h5 class="competence-title">Methodes</h5>
                    <p class="competence-description">Developpement Agile <br>( Scrum )</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="resume-section">
        <div class="row">
            <div class="col-lg-6">
{#                <h6 class="section-subtitle">RESUME</h6>#}
                <h2 class="section-title">FORMATION</h2>
                <ul class="time-line">
                    <li class="time-line-item">
                        <span class="badge badge-primary">2020 - 2021</span>
                        <h6 class="time-line-item-title">Ecole O'Clock</h6>
                        <p class="time-line-item-subtitle">Spécialisation Symfony</p>
                        <p class="time-line-item-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Aliquam asperiores atque est ipsa, nemo non voluptatibus! Aperiam dignissimos dolores doloribus velit?
                            Eligendi, facere, odit. Asperiores ducimus enim modi neque nisi!
                        </p>
                        <p class="time-line-item-content">POO et MVC</p>
                        <p class="time-line-item-content"> Composer</p>
                        <p class="time-line-item-content"> Twig</p>
                        <p class="time-line-item-content"> Doctrine</p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2020 - 2021</span>
                        <h6 class="time-line-item-title">Ecole O'Clock</h6>
                        <p class="time-line-item-subtitle">Formation Developpeur Web/Web mobile</p>
                        <p class="time-line-item-content">Parcours socle Php, Javascript, Wordpress</p>
                        <p class="time-line-item-content">1 projet en équipe sur un mois :
                            seedOseed, site d'echange de graines entre passionnés et amateurs - Travail d'équipe en méthode Agile (React/js et Symfony)</p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2007 - 2009</span>
                        <h6 class="time-line-item-title">Maurice Pierre Valette </h6>
                        <p class="time-line-item-subtitle">CFA Evreux,Certificat d'aptitude professionnel </p>
                        <p class="time-line-item-content">Serrurier Métallier en alternance</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
{#                <h6 class="section-subtitle">RESUME</h6>#}
                <h2 class="section-title">Experience</h2>
                <ul class="time-line">
                    <li class="time-line-item">
                        <span class="badge badge-primary">2012 - 2020</span>
                        <h6 class="time-line-item-title">Préparateur de commande</h6>
                        <p class="time-line-item-subtitle">Euro Cibus Mozzalat / E.leclerc Drive</p>
                        <p class="time-line-item-content">Accueil et récéption de marchandise</p>
                        <p class="time-line-item-content">Gestion des stocks</p>
                        <p class="time-line-item-content">Préparation et livraison de commandes</p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2010 - 2011</span>
                        <h6 class="time-line-item-title">Opérateur de fabrication</h6>
                        <p class="time-line-item-subtitle">SDPP Evreux </p>
                        <p class="time-line-item-content">Préparation et analyse en laboratoire des dosages</p>
                        <p class="time-line-item-content">Chargé d'acheminement</p>
                        <p class="time-line-item-content">Réception de produit dangereux</p>
                        <p class="time-line-item-content">Formation Habilitation ATEX niv 1 (Atmosphere Explosive) : Personnel intervenant en zone</p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2007 - 2009</span>
                        <h6 class="time-line-item-title">Serrurier-Métallier</h6>
                        <p class="time-line-item-subtitle">SAS J-P Rion RAFFIN</p>
                        <p class="time-line-item-content">Fabrication, pose et installation de garde corps, main courante, hall d'entrée et porte de garage</p>
                        <p class="time-line-item-content">Technique de soudure semi-automatique</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
   
{#    <section class="testimonial-section">#}
{#        <div id="testimonialCarousel" class="testimonial-carousel carousel slide" data-ride="carousel">#}
{#            <div class="carousel-inner">#}
{#                <div class="carousel-item active">#}
{#                    <p class="testimonial-content">Mauris magna sapien, pharetra consectetur fringilla vitae,#}
{#                        interdum sed tortor.</p>#}
{#                    <img src="{{ asset('build/images/Profile.b65d65f1.png') }}" alt="profile" class="testimonial-img">#}
{#                    <p class="testimonial-name">Nout Golstein</p>#}
{#                </div>#}
{#                <div class="carousel-item">#}
{#                    <p class="testimonial-content">Mauris magna sapien, pharetra consectetur fringilla vitae,#}
{#                        interdum sed tortor.</p>#}
{#                    <img src="{{ asset('build/images/Profile.b65d65f1.png') }}" alt="profile" class="testimonial-img">#}
{#                    <p class="testimonial-name">Nout Golstein</p>#}
{#                </div>#}
{#                <div class="carousel-item">#}
{#                    <p class="testimonial-content">Mauris magna sapien, pharetra consectetur fringilla vitae,#}
{#                        interdum sed tortor.</p>#}
{#                    <img src="{{ asset('build/images/Profile.b65d65f1.png') }}" alt="profile" class="testimonial-img">#}
{#                    <p class="testimonial-name">Nout Golstein</p>#}
{#                </div>#}
{#            </div>#}
{#            <ol class="carousel-indicators">#}
{#                <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>#}
{#                <li data-target="#testimonialCarousel" data-slide-to="1"></li>#}
{#                <li data-target="#testimonialCarousel" data-slide-to="2"></li>#}
{#            </ol>#}
{#        </div>#}
{#    </section>#}
    
    {% include '/_partials/_footer.html.twig' %}
</main>
{% endblock %}