{% extends '/base.html.twig' %}
{% block title %}{{ parent() }} | Accueil {% endblock %}

{% block body %}

<main>
    <!-- Accueil intro -->
    <section class="intro-section">
        <h2 class="section-title">Développeur web Back-End</h2>
        <div class="widget card">
            <div class="card-body">
                <div class="widget-content">
                    <h5 class="widget-title card-title">Objectifs :</h5>
                    <p>
                        Après une carrière dans le commerce qui m'a appris la rigueur, l'organisation et l'autonomie,
                        j'ai décidé de me lancer un nouveau challenge qui réunit mes compétences et ma passion pour l'univers du web.
                    </p>
                </div>
            </div>
        </div>
        <a href="{{ path('contact') }}" class="btn btn-primary btn-hire-me">Contactez-moi</a>
    </section>
    <!-- Competences -->
    <section class="competences-section">
        <h2 class="section-title">Compétences</h2>
        <div class="row">
            <div class="media competence-card col-lg-6">
                <div class="competence-icon">
                    <img src="{{ asset('build/images/logo/icons8-environment-24.f44e1a48.png') }}" alt="environment">
                </div>
                <div class="media-body">
                    <h5 class="competence-title">Developpement</h5>
                    <p>Développement de la partie Back-end d'une application web ou web mobile</p>
                    <p>Conception (CDC, Wireframes, MCD )</p>
                    <p>Création et gestion de base de données</p>
                    <p>Authentification, Rôles et sécurité</p>
                    <p>API, webservices</p>
                    <p>Tests unitaires et fonctionnels</p>
                </div>
            </div>
            <div class="media competence-card col-lg-6">
                <div class="competence-icon">
                    <img src="{{ asset('build/images/logo/icons8-monitor-24.34bdbadf.png') }}" alt="monitor">
                </div>
                <div class="media-body">
                    <h5 class="competence-title">Environnement</h5>
                    <p class="competence-description">PHP Storm / VScode</p>
                    <p class="competence-description">Git / Github</p>
                    <p class="competence-description">Windows / Linux </p>
                </div>
            </div>
            <div class="media competence-card col-lg-6">
                <div class="competence-icon">
                    <img src="{{ asset('build/images/logo/icons8-mind-map-24.76ae57ba.png') }}" alt="mindmap">
                </div>
                <div class="media-body">
                    <h5 class="competence-title">Frameworks</h5>
                    <p class="competence-description">Symfony 5 </p>
                    <p class="competence-description">Bootstrap </p>
                </div>
            </div>
            <div class="media competence-card col-lg-6">
                <div class="competence-icon">
                    <img src="{{ asset('build/images/logo/icons8-development-skill-24.471c92b7.png') }}" alt="skill">
                </div>
                <div class="media-body">
                    <h5 class="competence-title">Methodes</h5>
                    <p class="competence-description">Developpement Agile <br>( Scrum )</p>
                    <p>Trello</p>
                </div>
            </div>
        </div>
    </section>
    <!-- resume cv -->
    <section class="resume-section">
        <div class="row">
            <!-- Formation -->
            <div class="col-lg-6">
                <h2 class="section-title">FORMATION</h2>
                <ul class="time-line">
                    <li class="time-line-item">
                        <span class="badge badge-primary">2020 - 2021</span>
                        <h6 class="time-line-item-title">Ecole O'Clock</h6>
                        <p class="time-line-item-subtitle">Spécialisation Symfony</p>
                        <p class="time-line-item-content">Routing, bundles, Doctrine, Twig</p>
                        <p class="time-line-item-content">Formulaires : création, traitement et validation</p>
                        <p class="time-line-item-content">Sécurité, gestion des accès</p>
                        <p class="time-line-item-content">Déploiement sur AWS</p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2020 - 2021</span>
                        <h6 class="time-line-item-title">Ecole O'Clock</h6>
                        <p class="time-line-item-subtitle">Developpeur Web/Web mobile <br> Niveau V</p>
                        <p class="time-line-item-content">Parcours socle Php, Javascript, Wordpress</p>
                        <p class="time-line-item-content">Programmation orientée objet et architecture MVC</p>
                        <p class="time-line-item-content">
                            1 projet en équipe sur un mois : seedOseed, site d'echange de graines entre passionnés et amateurs - Travail d'équipe en méthode Agile
                            (React/js et Symfony)
                        </p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2007 - 2009</span>
                        <h6 class="time-line-item-title">Maurice Pierre Valette </h6>
                        <p class="time-line-item-subtitle">CFA Evreux,Certificat d'aptitude professionnel </p>
                        <p class="time-line-item-content">Serrurier Métallier en alternance</p>
                    </li>
                </ul>
            </div>
            <!-- Experience -->
            <div class="col-lg-6">
                <h2 class="section-title">Experience</h2>
                <ul class="time-line">
                    <li class="time-line-item">
                        <span class="badge badge-primary">2012 - 2020</span>
                        <h6 class="time-line-item-title">Préparateur de commande</h6>
                        <p class="time-line-item-subtitle">Euro Cibus Mozzalat / E.leclerc Drive</p>
                        <p class="time-line-item-content">Accueil et récéption de marchandise</p>
                        <p class="time-line-item-content">Gestion des stocks</p>
                        <p class="time-line-item-content">Préparation et livraison de commandes</p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2010 - 2011</span>
                        <h6 class="time-line-item-title">Opérateur de fabrication</h6>
                        <p class="time-line-item-subtitle">SDPP Evreux </p>
                        <p class="time-line-item-content">Préparation et analyse en laboratoire des dosages</p>
                        <p class="time-line-item-content">Chargé d'acheminement</p>
                        <p class="time-line-item-content">Réception de produit dangereux</p>
                        <p class="time-line-item-content">Formation Habilitation ATEX niv 1 (Atmosphere Explosive) : Personnel intervenant en zone</p>
                    </li>
                    <li class="time-line-item">
                        <span class="badge badge-primary">2007 - 2009</span>
                        <h6 class="time-line-item-title">Serrurier-Métallier</h6>
                        <p class="time-line-item-subtitle">SAS J-P Rion RAFFIN</p>
                        <p class="time-line-item-content">Fabrication, pose et installation de garde corps, main courante, hall d'entrée et porte de garage</p>
                        <p class="time-line-item-content">Technique de soudure semi-automatique</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock %}