{% extends '/base.html.twig' %}
{% block title %}{{ parent() }} | PortFolio {% endblock %}

{% block body %}

<main>
    <section class="portfolio-section">
        <h2 class="section-title">PORTFOLIO</h2>
        
        <div class="portfolio-wrapper">
            <figure class="portfolio-item hover-box">
                <a href="https://github.com/aokiiji76/seedOseed" target="_blank">
                    <img src="{{ asset('build/images/projets/SeedoSeed.1da8a4b8.png') }}"  alt="project" class="portfolio-item-img" >
                </a>
                <figcaption class="portfolio-item-details overlay">
                    <h5 class="portfolio-item-title">SeedOSeed</h5>
                    <p class="portfolio-item-description">Api Rest (Front/Back)</p>
                </figcaption>
            </figure>
            <figure class="portfolio-item hover-box">
                <a href="https://github.com/aokiiji76/SpotNews" target="_blank">
                    <img src="{{ asset('build/images/projets/spotNews.90da56ad.png') }}" alt="project" class="portfolio-item-img">
                </a>
                <figcaption class="portfolio-item-details overlay">
                    <h5 class="portfolio-item-title">SpotNews</h5>
                    <p class="portfolio-item-description">Site d'actualité ( Api )</p>
                </figcaption>
            </figure>
            <figure class="portfolio-item hover-box">
                <a href="https://github.com/aokiiji76/random_product" target="_blank">
                <img src="{{ asset('build/images/projets/RandomProduct.44699c0a.png') }}" alt="project" class="portfolio-item-img">
                </a>
                <figcaption class="portfolio-item-details overlay">
                    <h5 class="portfolio-item-title">RandomProduct</h5>
                    <p class="portfolio-item-description">Page produit aléatoire (fakerfixture)</p>
                </figcaption>
            </figure>
            <figure class="portfolio-item hover-box">
                <a href="https://github.com/aokiiji76/covidV1" target="_blank">
                <img src="{{ asset('build/images/projets/CovidStats.9515fbe9.png') }}" alt="project" class="portfolio-item-img">
                </a>
                <figcaption class="portfolio-item-details overlay">
                    <h5 class="portfolio-item-title">CovidStats</h5>
                    <p class="portfolio-item-description">Site sur les données du covid ( Api )</p>
                </figcaption>
            </figure>
{#            <figure class="portfolio-item hover-box">#}
{#                <img src="assets/images/img_5.png" alt="project" class="portfolio-item-img">#}
{#                <figcaption class="portfolio-item-details overlay">#}
{#                    <h5 class="portfolio-item-title">PROJECT 05</h5>#}
{#                    <p class="portfolio-item-description">Branding, Photography</p>#}
{#                </figcaption>#}
{#            </figure>#}
{#            <figure class="portfolio-item hover-box">#}
{#                <img src="assets/images/img_6.png" alt="project" class="portfolio-item-img">#}
{#                <figcaption class="portfolio-item-details overlay">#}
{#                    <h5 class="portfolio-item-title">PROJECT 06</h5>#}
{#                    <p class="portfolio-item-description">Branding, Photography</p>#}
{#                </figcaption>#}
{#            </figure>#}
{#            <figure class="portfolio-item hover-box">#}
{#                <img src="assets/images/img_7.png" alt="project" class="portfolio-item-img">#}
{#                <figcaption class="portfolio-item-details overlay">#}
{#                    <h5 class="portfolio-item-title">PROJECT 07</h5>#}
{#                    <p class="portfolio-item-description">Branding, Photography</p>#}
{#                </figcaption>#}
{#            </figure>#}
{#            <figure class="portfolio-item hover-box">#}
{#                <img src="assets/images/img_8.png" alt="project" class="portfolio-item-img">#}
{#                <figcaption class="portfolio-item-details overlay">#}
{#                    <h5 class="portfolio-item-title">PROJECT 08</h5>#}
{#                    <p class="portfolio-item-description">Branding, Photography</p>#}
{#                </figcaption>#}
{#            </figure>#}
        </div>
    
    </section>
    {% include '/_partials/_footer.html.twig' %}
</main>
{% endblock %}